.venv
chapset_4/*
chapset_5/*
chapset_6/*
chapset_7/__pycache__/*
chapset_7/base/__pycache__/*
chapset_7/test/__pycache__/*
chapset_7/pages/__pycache__/*
chapset_7/screen/*
chapset_7/logs/*
final_task/__pycache__/*
final_task/base/__pycache__/*
final_task/test/__pycache__/*
final_task/pages/__pycache__/*
final_task/screen/*
geckodriver.log
